<div class="menu-buttons center">
<% if item.location.loc_type == "truck"%>
<a class="waves-effect waves-light btn pink">Load In</a>
<a class="waves-effect waves-light btn blue">Load Out</a>
<% end %>
<a class="waves-effect waves-light btn red darken-3">Comp</a>
</div>
